::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

html,
body {
  margin: 0;
}

.body,
.container {
  margin-right: 0 !important;
}

#root,
.body,
.container {
  padding: 0;
  margin: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.col-12,
.col-sm-12 {
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  .carousel-img {
    width: 120px;
  }
}

@media (min-width: 400px) {
  .body-responsive {
    margin-top: 0 !important;
    padding-top: 0;
    margin-right: 0 !important;
  }

  .carousel-img {
    width: 200px;
  }
}

@media (min-width: 600px) {
  .pLanding {
    font-size: 30px;
    font-weight: bold;
  }

  .carousel-img {
    width: 350px;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 50px;
  top: -45px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
