::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

html,
body {
  margin: 0;
}

.body,
.container {
  margin-right: 0 !important;
}

#root,
.body,
.container {
  padding: 0;
  margin: 0px;
  margin-right: 0px;
  height: 100vh;
}

.App {
  text-align: center;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.col-12,
.col-sm-12 {
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) {
  .carousel-img {
    width: 170px;
  }

  div>h3 {
    font-size: 15px;
  }

  .flex-container {
    justify-content: space-around !important;
  }
}

@media (min-width: 400px) {
  .body-responsive {
    margin-top: 0 !important;
    padding-top: 0;
    margin-right: 0 !important;
  }

  .carousel-img {
    width: 200px;
    padding: 10px;
  }

  div>h3 {
    font-size: 20px;
    padding-right: 25px;
  }
}

@media (min-width: 600px) {
  .pLanding {
    font-size: 30px;
    font-weight: bold;
  }

  .flex-container {
    justify-content: space-around !important;
  }

  .carousel-img {
    width: 320px;
    padding: 15px;
  }

  div>h3 {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .carousel-img {
    width: 500px;
    padding: 10px;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 50px;
  top: -45px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 20px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Itinerary page */
.flex-container {
  display: flex !important;
  flex-direction: row !important;
}

.card-title {
  font-size: 18px !important;
}

.card-subtitle {
  font-size: 15px !important;
}

.card-text {
  font-size: 13px !important;
}

/* Button activities */
.btn-info {
  background-color: #f2bbd5 !important;
  color: #8c2a3c !important;
  font-size: 15px !important;
  border: none !important;
  border-radius: 0% !important;
  width: 100%;
}

/* Slider activity */
@media (max-width: 400px) {


  .img-activity {
    width: 200px;
  }

  .activity-desc {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }


}

@media (min-width: 400px) {
  .img-activity {
    width: 230px;
  }

  .activity-desc {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .img-activity {
    width: 230px;
  }

  .activity-desc {
    font-size: 15px;
  }

  .heading-login {
    font-size: 40px;
    padding: 20px;
    background-color: #8c2a3c;
    margin: 40px 120px;
    color: white;
  }
}

@media (min-width: 1000px) {
  .img-activity {
    width: 280px;
  }
}

.site-button {
  background-color: #8c2a3c !important;
  border: none !important;
}

.body-responsive {
  width: 100% !important;
}

/* 
.form-group {
  display: flex !important;
  justify-content: flex-start !important;
} */

/* Signup page */
@media (max-width: 400px) {


  .heading-login {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 25px;

    background-color: #8c2a3c;
    color: white;
  }

  .form-label {
    font-size: 17px;
  }

  .button-signup {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #f2bbd5;
    color: #8c2a3c;
    padding: 5px 10px;
    border-radius: 5%;
    border: none
  }
}

@media (min-width: 600px) {

  .heading-login {
    font-size: 40px;
    padding: 20px;
    background-color: #8c2a3c;
    margin: 40px 120px;
    color: white;
  }

  .form-label {
    font-size: 20px;
  }

  .button-signup {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #f2bbd5;
    color: #8c2a3c;
    padding: 5px 10px;
    border-radius: 5%;
    border: none;

  }
}